@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'futurabook';
    src: url('./webfonts/futura_book_font-webfont.woff') format('woff2'),
         url('./webfonts/futura_book_font-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }

body{
    height:100vh;
    width:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size:1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'futurabook';
    text-transform: uppercase;
}

h1{
    color:white;
    font-size: 3vw;
    margin-bottom: 0;
}

h2{
    color: #000a12;
    font-size: 2vw;
    margin-bottom: 0;
}

h3{
    color: #000a12;
    font-size: 1.25vw;
    margin-bottom: 0;
    margin-top:0;
}

/* nav */
    
.nav {
    position:absolute;
    padding:15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    font-family: 'futurabook';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
}

.logo a{
    color: #ffffff;
    text-decoration: none;
}
  
.logo a:hover{
    color: #cfd8dc;
}
    
.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto 0 auto 0;
}
    
.nav ul li {
    list-style-type: none;
}
    
.nav ul li a {
    color: #cfd8dc;
    text-decoration: none;
    padding: 0 0 0 15px;
    font-family: 'futurabook', sans-serif;
    text-transform: uppercase;
}
    
.nav ul li a:hover {
    color: white;
}

/* hero */

.hero{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
    width: 100%;
    height:100vh;
    color:#cfd8dc;
    overflow-x: hidden;
}

#hero{
    width: 100%;
    height:100vh;
}

.hero-container {
    width: 80%;
    max-width: 1400px;
    margin:auto;
}

/* sections */

.portfolio-bg{
    background-color: #cfd8dc;
}

.profile-bg{
    color:white;
    background-color: #000a12;
    padding-bottom:45px;
}

.profile-header{
    color:#cfd8dc
}

.pg-wrapper{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    width: 80%;
    max-width: 1400px;
    margin:auto;
    padding-bottom:55px;
}

/* cards */

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    flex-basis: 48%;
    margin:25px 25px 0 0;
    box-shadow: 5px 5px 10px #9ea7aa, 
            -5px -5px 10px #ffffff;
}

.card-profile{
    flex-basis: 48%;
    margin:25px 25px 0 0;
}

.card-text{
    padding:25px;
}

/* img */

img {
    width: 100%;
}

/* buttons */

.btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-grey {
    padding: 20px 30px;
    margin-right:15px;
    background-color: #cfd8dc;
    border: 1px solid #000a12;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: .25s;
    transition-timing-function: ease;
    color: #000a12;
    text-align: center;
}

.btn-grey:hover {
    color:#cfd8dc;
    background-color: #263238;
    border: 1px solid #000a12;
    font-size: 1rem;
    cursor: pointer;
}

.btn-grey:active{
        box-shadow: inset 5px 5px 10px #000a12, 
    inset -5px -5px 10px #4f5b62;
}

/* footer*/

.footer {
    width:100%;
    background-color: #263238;
    color: white;
    padding:25px 0;
    text-align: center;
}

/* fontawesome */

.fa, .fas, .fab, .far {
    font-size: 2rem;
    margin:0 5px;
    cursor: pointer;
}

.fa:hover, .fas:hover, .fab:hover, .far:hover {
    color:#cfd8dc;
}

a {
    color:white;
    text-decoration: none;
}

/* media queries */

@media all and (max-width: 768px) {
    h1{
        font-size: 5vw;
    }
    
    h2{
        font-size: 4.5vw;
    }
    
    h3{
        font-size: 4vw;
    }
    
    .card{
        flex-basis: 100%;
        margin:25px 0px 0 0;
    }
    
    .card-profile{
        flex-basis: 100%;
        margin:25px 0px 0 0;
    }

    .btn-container{
        flex-direction: column;
    }

    .btn-grey {
        margin:0 0 15px 0;
    }

    .pg-wrapper{
        width: 90%;
        max-width: 1400px;
    }
  
  }
  
